
db/

incremental_db/

*.summary

*.qdf

*.rpt

*.done

*.smsg

*.jdi

*.pin

*.pof

*.sld

*.sof

*.map

Lab04_SumulatedAnnealing/.vscode/

Lab5_Accumulator/sim/Accumulator/work/

Lab5_Accumulator/sim/Debouncer/work/
